<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.tms.mapper.CustomerMapper">
  <resultMap id="BaseResultMap" type="com.lv.tms.entity.Customer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="customer_id_card" jdbcType="VARCHAR" property="customerIdCard" />
    <result column="customer_id_card_photo" jdbcType="VARCHAR" property="customerIdCardPhoto" />
    <result column="customer_id_card_photo_back" jdbcType="VARCHAR" property="customerIdCardPhotoBack" />
    <result column="customer_tel" jdbcType="VARCHAR" property="customerTel" />
    <result column="customer_address" jdbcType="VARCHAR" property="customerAddress" />
    <result column="customer_job_title" jdbcType="VARCHAR" property="customerJobTitle" />
    <result column="customer_age" jdbcType="VARCHAR" property="customerAge" />
    <result column="customer_level" jdbcType="VARCHAR" property="customerLevel" />
    <result column="customer_source" jdbcType="VARCHAR" property="customerSource" />
    <result column="customer_trade" jdbcType="VARCHAR" property="customerTrade" />
    <result column="customer_reminder" jdbcType="VARCHAR" property="customerReminder" />
    <result column="customer_gender" jdbcType="VARCHAR" property="customerGender" />
    <result column="customer_ticket_id" jdbcType="INTEGER" property="customerTicketId" />
    <result column="employee_id" jdbcType="INTEGER" property="employeeId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customer_name, customer_id_card, customer_id_card_photo, customer_id_card_photo_back, 
    customer_tel, customer_address, customer_job_title, customer_age, customer_level, 
    customer_source, customer_trade, customer_reminder, customer_gender, customer_ticket_id, 
    employee_id, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.lv.tms.entity.CustomerExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from customer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lv.tms.entity.CustomerExample">
    delete from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lv.tms.entity.Customer">
    insert into customer (id, customer_name, customer_id_card, 
      customer_id_card_photo, customer_id_card_photo_back, 
      customer_tel, customer_address, customer_job_title, 
      customer_age, customer_level, customer_source, 
      customer_trade, customer_reminder, customer_gender, 
      customer_ticket_id, employee_id, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR}, #{customerIdCard,jdbcType=VARCHAR}, 
      #{customerIdCardPhoto,jdbcType=VARCHAR}, #{customerIdCardPhotoBack,jdbcType=VARCHAR}, 
      #{customerTel,jdbcType=VARCHAR}, #{customerAddress,jdbcType=VARCHAR}, #{customerJobTitle,jdbcType=VARCHAR}, 
      #{customerAge,jdbcType=VARCHAR}, #{customerLevel,jdbcType=VARCHAR}, #{customerSource,jdbcType=VARCHAR}, 
      #{customerTrade,jdbcType=VARCHAR}, #{customerReminder,jdbcType=VARCHAR}, #{customerGender,jdbcType=VARCHAR}, 
      #{customerTicketId,jdbcType=INTEGER}, #{employeeId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lv.tms.entity.Customer">
    insert into customer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customerName != null">
        customer_name,
      </if>
      <if test="customerIdCard != null">
        customer_id_card,
      </if>
      <if test="customerIdCardPhoto != null">
        customer_id_card_photo,
      </if>
      <if test="customerIdCardPhotoBack != null">
        customer_id_card_photo_back,
      </if>
      <if test="customerTel != null">
        customer_tel,
      </if>
      <if test="customerAddress != null">
        customer_address,
      </if>
      <if test="customerJobTitle != null">
        customer_job_title,
      </if>
      <if test="customerAge != null">
        customer_age,
      </if>
      <if test="customerLevel != null">
        customer_level,
      </if>
      <if test="customerSource != null">
        customer_source,
      </if>
      <if test="customerTrade != null">
        customer_trade,
      </if>
      <if test="customerReminder != null">
        customer_reminder,
      </if>
      <if test="customerGender != null">
        customer_gender,
      </if>
      <if test="customerTicketId != null">
        customer_ticket_id,
      </if>
      <if test="employeeId != null">
        employee_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerIdCard != null">
        #{customerIdCard,jdbcType=VARCHAR},
      </if>
      <if test="customerIdCardPhoto != null">
        #{customerIdCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="customerIdCardPhotoBack != null">
        #{customerIdCardPhotoBack,jdbcType=VARCHAR},
      </if>
      <if test="customerTel != null">
        #{customerTel,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null">
        #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerJobTitle != null">
        #{customerJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="customerAge != null">
        #{customerAge,jdbcType=VARCHAR},
      </if>
      <if test="customerLevel != null">
        #{customerLevel,jdbcType=VARCHAR},
      </if>
      <if test="customerSource != null">
        #{customerSource,jdbcType=VARCHAR},
      </if>
      <if test="customerTrade != null">
        #{customerTrade,jdbcType=VARCHAR},
      </if>
      <if test="customerReminder != null">
        #{customerReminder,jdbcType=VARCHAR},
      </if>
      <if test="customerGender != null">
        #{customerGender,jdbcType=VARCHAR},
      </if>
      <if test="customerTicketId != null">
        #{customerTicketId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lv.tms.entity.CustomerExample" resultType="java.lang.Long">
    select count(*) from customer
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update customer
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.customerName != null">
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.customerIdCard != null">
        customer_id_card = #{record.customerIdCard,jdbcType=VARCHAR},
      </if>
      <if test="record.customerIdCardPhoto != null">
        customer_id_card_photo = #{record.customerIdCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.customerIdCardPhotoBack != null">
        customer_id_card_photo_back = #{record.customerIdCardPhotoBack,jdbcType=VARCHAR},
      </if>
      <if test="record.customerTel != null">
        customer_tel = #{record.customerTel,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAddress != null">
        customer_address = #{record.customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.customerJobTitle != null">
        customer_job_title = #{record.customerJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.customerAge != null">
        customer_age = #{record.customerAge,jdbcType=VARCHAR},
      </if>
      <if test="record.customerLevel != null">
        customer_level = #{record.customerLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.customerSource != null">
        customer_source = #{record.customerSource,jdbcType=VARCHAR},
      </if>
      <if test="record.customerTrade != null">
        customer_trade = #{record.customerTrade,jdbcType=VARCHAR},
      </if>
      <if test="record.customerReminder != null">
        customer_reminder = #{record.customerReminder,jdbcType=VARCHAR},
      </if>
      <if test="record.customerGender != null">
        customer_gender = #{record.customerGender,jdbcType=VARCHAR},
      </if>
      <if test="record.customerTicketId != null">
        customer_ticket_id = #{record.customerTicketId,jdbcType=INTEGER},
      </if>
      <if test="record.employeeId != null">
        employee_id = #{record.employeeId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update customer
    set id = #{record.id,jdbcType=INTEGER},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      customer_id_card = #{record.customerIdCard,jdbcType=VARCHAR},
      customer_id_card_photo = #{record.customerIdCardPhoto,jdbcType=VARCHAR},
      customer_id_card_photo_back = #{record.customerIdCardPhotoBack,jdbcType=VARCHAR},
      customer_tel = #{record.customerTel,jdbcType=VARCHAR},
      customer_address = #{record.customerAddress,jdbcType=VARCHAR},
      customer_job_title = #{record.customerJobTitle,jdbcType=VARCHAR},
      customer_age = #{record.customerAge,jdbcType=VARCHAR},
      customer_level = #{record.customerLevel,jdbcType=VARCHAR},
      customer_source = #{record.customerSource,jdbcType=VARCHAR},
      customer_trade = #{record.customerTrade,jdbcType=VARCHAR},
      customer_reminder = #{record.customerReminder,jdbcType=VARCHAR},
      customer_gender = #{record.customerGender,jdbcType=VARCHAR},
      customer_ticket_id = #{record.customerTicketId,jdbcType=INTEGER},
      employee_id = #{record.employeeId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lv.tms.entity.Customer">
    update customer
    <set>
      <if test="customerName != null">
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerIdCard != null">
        customer_id_card = #{customerIdCard,jdbcType=VARCHAR},
      </if>
      <if test="customerIdCardPhoto != null">
        customer_id_card_photo = #{customerIdCardPhoto,jdbcType=VARCHAR},
      </if>
      <if test="customerIdCardPhotoBack != null">
        customer_id_card_photo_back = #{customerIdCardPhotoBack,jdbcType=VARCHAR},
      </if>
      <if test="customerTel != null">
        customer_tel = #{customerTel,jdbcType=VARCHAR},
      </if>
      <if test="customerAddress != null">
        customer_address = #{customerAddress,jdbcType=VARCHAR},
      </if>
      <if test="customerJobTitle != null">
        customer_job_title = #{customerJobTitle,jdbcType=VARCHAR},
      </if>
      <if test="customerAge != null">
        customer_age = #{customerAge,jdbcType=VARCHAR},
      </if>
      <if test="customerLevel != null">
        customer_level = #{customerLevel,jdbcType=VARCHAR},
      </if>
      <if test="customerSource != null">
        customer_source = #{customerSource,jdbcType=VARCHAR},
      </if>
      <if test="customerTrade != null">
        customer_trade = #{customerTrade,jdbcType=VARCHAR},
      </if>
      <if test="customerReminder != null">
        customer_reminder = #{customerReminder,jdbcType=VARCHAR},
      </if>
      <if test="customerGender != null">
        customer_gender = #{customerGender,jdbcType=VARCHAR},
      </if>
      <if test="customerTicketId != null">
        customer_ticket_id = #{customerTicketId,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null">
        employee_id = #{employeeId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lv.tms.entity.Customer">
    update customer
    set customer_name = #{customerName,jdbcType=VARCHAR},
      customer_id_card = #{customerIdCard,jdbcType=VARCHAR},
      customer_id_card_photo = #{customerIdCardPhoto,jdbcType=VARCHAR},
      customer_id_card_photo_back = #{customerIdCardPhotoBack,jdbcType=VARCHAR},
      customer_tel = #{customerTel,jdbcType=VARCHAR},
      customer_address = #{customerAddress,jdbcType=VARCHAR},
      customer_job_title = #{customerJobTitle,jdbcType=VARCHAR},
      customer_age = #{customerAge,jdbcType=VARCHAR},
      customer_level = #{customerLevel,jdbcType=VARCHAR},
      customer_source = #{customerSource,jdbcType=VARCHAR},
      customer_trade = #{customerTrade,jdbcType=VARCHAR},
      customer_reminder = #{customerReminder,jdbcType=VARCHAR},
      customer_gender = #{customerGender,jdbcType=VARCHAR},
      customer_ticket_id = #{customerTicketId,jdbcType=INTEGER},
      employee_id = #{employeeId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>