<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lv.tms.mapper.TicketMapper">
  <resultMap id="BaseResultMap" type="com.lv.tms.entity.Ticket">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ticket_num" jdbcType="INTEGER" property="ticketNum" />
    <result column="ticket_in_time" jdbcType="TIMESTAMP" property="ticketInTime" />
    <result column="ticket_state" jdbcType="VARCHAR" property="ticketState" />
    <result column="ticket_create_time" jdbcType="TIMESTAMP" property="ticketCreateTime" />
    <result column="ticket_update_time" jdbcType="TIMESTAMP" property="ticketUpdateTime" />
    <result column="ticket_out_time" jdbcType="TIMESTAMP" property="ticketOutTime" />
    <result column="store_account_id" jdbcType="INTEGER" property="storeAccountId" />
    <result column="customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="ticket_validate_start" jdbcType="TIMESTAMP" property="ticketValidateStart" />
    <result column="ticket_validate_end" jdbcType="TIMESTAMP" property="ticketValidateEnd" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, ticket_num, ticket_in_time, ticket_state, ticket_create_time, ticket_update_time, 
    ticket_out_time, store_account_id, customer_id, ticket_validate_start, ticket_validate_end
  </sql>
  <select id="selectByExample" parameterType="com.lv.tms.entity.TicketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ticket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lv.tms.entity.TicketExample">
    delete from ticket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lv.tms.entity.Ticket">
    insert into ticket (id, ticket_num, ticket_in_time, 
      ticket_state, ticket_create_time, ticket_update_time, 
      ticket_out_time, store_account_id, customer_id, 
      ticket_validate_start, ticket_validate_end
      )
    values (#{id,jdbcType=INTEGER}, #{ticketNum,jdbcType=INTEGER}, #{ticketInTime,jdbcType=TIMESTAMP}, 
      #{ticketState,jdbcType=VARCHAR}, #{ticketCreateTime,jdbcType=TIMESTAMP}, #{ticketUpdateTime,jdbcType=TIMESTAMP}, 
      #{ticketOutTime,jdbcType=TIMESTAMP}, #{storeAccountId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, 
      #{ticketValidateStart,jdbcType=TIMESTAMP}, #{ticketValidateEnd,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lv.tms.entity.Ticket">
    insert into ticket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ticketNum != null">
        ticket_num,
      </if>
      <if test="ticketInTime != null">
        ticket_in_time,
      </if>
      <if test="ticketState != null">
        ticket_state,
      </if>
      <if test="ticketCreateTime != null">
        ticket_create_time,
      </if>
      <if test="ticketUpdateTime != null">
        ticket_update_time,
      </if>
      <if test="ticketOutTime != null">
        ticket_out_time,
      </if>
      <if test="storeAccountId != null">
        store_account_id,
      </if>
      <if test="customerId != null">
        customer_id,
      </if>
      <if test="ticketValidateStart != null">
        ticket_validate_start,
      </if>
      <if test="ticketValidateEnd != null">
        ticket_validate_end,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ticketNum != null">
        #{ticketNum,jdbcType=INTEGER},
      </if>
      <if test="ticketInTime != null">
        #{ticketInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketState != null">
        #{ticketState,jdbcType=VARCHAR},
      </if>
      <if test="ticketCreateTime != null">
        #{ticketCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketUpdateTime != null">
        #{ticketUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketOutTime != null">
        #{ticketOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeAccountId != null">
        #{storeAccountId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="ticketValidateStart != null">
        #{ticketValidateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketValidateEnd != null">
        #{ticketValidateEnd,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lv.tms.entity.TicketExample" resultType="java.lang.Long">
    select count(*) from ticket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ticket
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ticketNum != null">
        ticket_num = #{record.ticketNum,jdbcType=INTEGER},
      </if>
      <if test="record.ticketInTime != null">
        ticket_in_time = #{record.ticketInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ticketState != null">
        ticket_state = #{record.ticketState,jdbcType=VARCHAR},
      </if>
      <if test="record.ticketCreateTime != null">
        ticket_create_time = #{record.ticketCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ticketUpdateTime != null">
        ticket_update_time = #{record.ticketUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ticketOutTime != null">
        ticket_out_time = #{record.ticketOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.storeAccountId != null">
        store_account_id = #{record.storeAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.customerId != null">
        customer_id = #{record.customerId,jdbcType=INTEGER},
      </if>
      <if test="record.ticketValidateStart != null">
        ticket_validate_start = #{record.ticketValidateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="record.ticketValidateEnd != null">
        ticket_validate_end = #{record.ticketValidateEnd,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ticket
    set id = #{record.id,jdbcType=INTEGER},
      ticket_num = #{record.ticketNum,jdbcType=INTEGER},
      ticket_in_time = #{record.ticketInTime,jdbcType=TIMESTAMP},
      ticket_state = #{record.ticketState,jdbcType=VARCHAR},
      ticket_create_time = #{record.ticketCreateTime,jdbcType=TIMESTAMP},
      ticket_update_time = #{record.ticketUpdateTime,jdbcType=TIMESTAMP},
      ticket_out_time = #{record.ticketOutTime,jdbcType=TIMESTAMP},
      store_account_id = #{record.storeAccountId,jdbcType=INTEGER},
      customer_id = #{record.customerId,jdbcType=INTEGER},
      ticket_validate_start = #{record.ticketValidateStart,jdbcType=TIMESTAMP},
      ticket_validate_end = #{record.ticketValidateEnd,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lv.tms.entity.Ticket">
    update ticket
    <set>
      <if test="ticketNum != null">
        ticket_num = #{ticketNum,jdbcType=INTEGER},
      </if>
      <if test="ticketInTime != null">
        ticket_in_time = #{ticketInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketState != null">
        ticket_state = #{ticketState,jdbcType=VARCHAR},
      </if>
      <if test="ticketCreateTime != null">
        ticket_create_time = #{ticketCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketUpdateTime != null">
        ticket_update_time = #{ticketUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketOutTime != null">
        ticket_out_time = #{ticketOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="storeAccountId != null">
        store_account_id = #{storeAccountId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null">
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="ticketValidateStart != null">
        ticket_validate_start = #{ticketValidateStart,jdbcType=TIMESTAMP},
      </if>
      <if test="ticketValidateEnd != null">
        ticket_validate_end = #{ticketValidateEnd,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lv.tms.entity.Ticket">
    update ticket
    set ticket_num = #{ticketNum,jdbcType=INTEGER},
      ticket_in_time = #{ticketInTime,jdbcType=TIMESTAMP},
      ticket_state = #{ticketState,jdbcType=VARCHAR},
      ticket_create_time = #{ticketCreateTime,jdbcType=TIMESTAMP},
      ticket_update_time = #{ticketUpdateTime,jdbcType=TIMESTAMP},
      ticket_out_time = #{ticketOutTime,jdbcType=TIMESTAMP},
      store_account_id = #{storeAccountId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      ticket_validate_start = #{ticketValidateStart,jdbcType=TIMESTAMP},
      ticket_validate_end = #{ticketValidateEnd,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>